@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#navbarBrand {
  font-family: 'Plaster', cursive;
  color: #E07A5F;
  font-size: 40px;
}

#navbar {
  background-color: white !important;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

#loginButton {
  background-color: #81B29A;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

#loginButton:hover {
  background-color: #72a18a;
}

#loginWithSpotify {
  border-color: #81B29A;
  border: 2.5px solid;
  color: #81B29A;
  font-weight: bold;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

#loginWithSpotify:hover {
  border-color: #81B29A;
  border: 2.5px solid;
  color: white;
  font-weight: bold;
  background-color: #81B29A;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 140px !important;
  color: #4b4848 !important;
}

.footer {
  padding: 0.2rem;
  background-color: #E07A5F;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  z-index: 1000;
}

.rectangle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 600px;
  height: 600px;
  background: #F2CC8F;
  border-radius: 600px 0 0 0;
  -moz-border-radius: 600px 0 0 0;
  -webkit-border-radius: 600px 0 0 0;
}

#sideBar {
  font-family: 'Montserrat', sans-serif;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 100px;
}

#navText {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#navText:hover {
  color: #161616;
}

#linkHover {
  text-decoration: none !important;
}

.nav-text-active {
  background-color: #81B29A;
  border-radius: 10px;
  color: white;
  width: 200px;
}

.nav-text-active:hover {
  background-color: #72a18a;
  border-radius: 10px;
  color: white;
}

#profile {
  background: #F2CC8F;
  width: 1125px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#profileImg {
  border-radius: 50%;
  border: 5px solid #ffffff;
}

#profileText {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 115px;
}

#pageCover {
  background: #F2CC8F;
  width: 1125px;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#pageCoverText {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 70px;
}

#dropdown-menu-align-right {
  margin-top: 65px;
  background-color: #F2CC8F;
  border-color: white;
  border-radius: 25px;
  outline: none !important;
  font-family: 'Montserrat', sans-serif;
  width: 146px;
}

#dropdown-menu-align-right:focus {
  outline: none;
  box-shadow: none;
}

#dropdown-menu-align-right:hover {
  background-color: white;
  border-color: #F2CC8F;
  color: #F2CC8F;
}

#dropdownItem:focus {
  background-color: #F2CC8F;
}

#dropdownItem {
  color: #F2CC8F;
  font-family: 'Montserrat', sans-serif;
}

#dropdownItem:hover {
  background-color: #F2CC8F;
  color: white;
}

#singleRecent {
  width: 1125px;
  height: 83px;
  font-family: 'Montserrat', sans-serif;
}

#singleRecent:hover {
  background-color: #faf4ed;
}

#heartIcon {
  color: #E07A5F;
  font-size: 20px;
}

#albumCard {
  border: 0;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0px;
}

#albumCard:hover {
  border: 0;
  background-color: #faf4ed;
}

#tracks {
  margin-bottom: 75px;
}

#trackName:hover {
  color: #161616 !important;
  text-decoration: none !important;
}

#top {
  margin-top: 75px;
  margin-left: 225px !important;
}

#trackDetails {
  font-family: 'Montserrat', sans-serif;
}