@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#navbarBrand {
  font-family: 'Plaster', cursive;
  color: #E07A5F;
  font-size: 40px;
}

#navbar {
  background-color: white !important;
}

#loginButton {
  text-align: right;
  background-color: #81B29A;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}