@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#navbarBrand {
  font-family: 'Plaster', cursive;
  color: #E07A5F;
  font-size: 40px;
}

#navbar {
  background-color: white !important;
}

#loginButton {
  background-color: #81B29A;
  border: 0;
  font-family: 'Montserrat', sans-serif;
}

#loginWithSpotify {
  border-color: #81B29A;
  color: #81B29A;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 140px !important;
  color: #4b4848 !important;
}

.footer {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #E07A5F;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

.rectangle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 600px;
  height: 600px;
  background: #F2CC8F;
  border-radius: 600px 0 0 0;
  -moz-border-radius: 600px 0 0 0;
  -webkit-border-radius: 600px 0 0 0;
}

#sideBar {
  font-family: 'Montserrat', sans-serif;
}

#navText {
  color: #4b4848;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#navText:hover {
  color: #000000;
}

#linkHover {
  text-decoration: none !important;
}

/* #navText:focus {
  background-color: #81B29A;
  border-radius: 10px;
  color: white;
} */

.nav-text-active {
  background-color: #81B29A;
  border-radius: 10px;
  color: white;
}

#profile {
  background: #F2CC8F;
  width: 1150px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#profileImg {
  border-radius: 50%;
  border: 5px solid #ffffff;
}

#profileText {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 110px;
}